@import url(https://fonts.googleapis.com/css?family=Cabin:regular,italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Spectral:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic);

body {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAFfKj/FAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF4OXp8PX50NXZBLxR6QAAAEhJREFUeNpiYGJgYGACCCAGMAAIIDiDCSCAGLAAgABCEcbBBAggGIORQhogwNCcwIjddKgQI6ojUbkgWSYMo+BCjKiOR9PLBAAchAAxHFDBbwAAAABJRU5ErkJggg==');
  font-family: "Roboto", regular;
}

.container {
  margin-top: 30px;
}

.profile-form {
  display: list-item;
  flex-direction: column;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}

/* cool buttons */
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';

* {
  box-sizing: border-box
}

.Nav-item {
  color: #454545;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold
}

.Nav-item:before,
.Nav-item:after {
  content: '';
  display: block;
  position: absolute;
  border-color: #454545;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out
}

.Nav-item:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

.Nav-item:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

.Nav-item:hover:before,
.Nav-item:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff
}

.Nav-item:hover {
  color: #353535;
  background-color: #fff;
  border-color: #fff
}

.panel {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
  color: black;
}

.navbar-brand {
  font-family: comfortaa;
  font-weight: bold
}

.footer {
  background-color: #343a40;
  position: absolute;
	margin-bottom: 0px;
  margin-top: 50px;
  padding-bottom: 20px;
}

.footer-col {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.footer-text {
	color: white;
  font-weight: bold;
  font-family: comfortaa;
}

.footer-inside-col {
	display: flex;
	flex-direction: column;
	padding-right: 5px;
  padding-left: 5px;
}

.footer-description {
	color: white;
	font-weight: lighter;
  font-style: oblique;
  font-family: comfortaa;
}

.designed-by {
  color: white;
  font-family: comfortaa;
}

.github-and-developers {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.github {
  color: white;
  font-family: comfortaa;
	text-decoration: underline;
}

.admin-login {
  color: white;
  font-family: comfortaa;
	font-weight: lighter;
}

.signup-newsletters {
	color: white;
  font-weight: lighter;
  font-family: comfortaa;
}

.social-media {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.plan-headers {
  color: #454545;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  position: relative;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold
}

.plan-button {
  font-family: comfortaa;
}

.tennis-ball-img {
  height: 100px;
}
